<h5>Exemplos de Pipes</h5>
<!-- PIPE TRANSFORMA UM VALOR
alguns pipes embutidos como para mostrar 
a data formatada
como usar um pipe "|"" => pipe
| uppercase transformar titulo em letra maiuscula
| de number, podemos usar parametros
'2.1-2' casas decimais
currency moeda
-->
<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-2' }}</p>
<p>Páginas: {{ livro.nPaginas | number}}</p>
<p>Preço: {{ livro.preco | currency:'BRL'}}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json}}</p>

<h5>Pipe Puro</h5>
<input type="text" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>
<ul>
    <li *ngFor="let liv of livros | filtroArray:filtro">
        {{ liv }}
    </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
        {{ liv }}
    </li>
</ul>

<h5>Maneira correta de usar filtro nos projetos</h5>

<ul>
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>
</ul>